html {
  background-color:#76323F;
}

.errors {
  color: red;
}

.content {
  margin-left:29%;
  margin-top:50px;
  width:650px;
  padding-bottom:40px;
  text-align:center;
  border: 2px solid #C09F80;
  border-radius:25px;
  background-color:#D7CEC7;
}

em{
  color:#76323F;
}

h3{
  color:#565656;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  border-radius: 25px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
  margin-left: 15%;
  font-size:20px;

}

td, th {
  border: 1px solid #C09F80;
  text-align: center;
  padding: 8px;

}

tr:nth-child(even) {
  background-color: #dddddd;
}

th {
  background-color:  #76323F;
  color: #C09F80;
}

.active {
  background-color: #0d0d0d;
}

.labels{
  font-weight:bold;
}

.inputs {
  border-radius:5px;
}

.button{
  color:#565656;
  border-radius:25px;
  height:35px;
  padding:6px;
  font-weight:bold;
  font-size:15px;
  background-color:#C09F80;
}

.heading{
  color:#76323F;
  margin-top:50px;
}

.registration-button {
  color: #565656;
  border-radius: 25px;
  height: 55px;
  padding: 8px;
  font-weight: bold;
  font-size: 20px;
  background-color: #C09F80;
}
